@import "var";
@import "reset";

@function soma($numeros...) {
    $soma: 0;
    @each $numero in $numeros {
        $soma: $soma + $numero;
    }
    @return $soma;
}

@mixin bold {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px $shade2;
}

@mixin btns {
    width: 25px;
    height: 5px;
    background-color: white;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
}

@mixin btns-small {
    width: 15px;
    height: 5px;
    background-color: white;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
}

body {
    background-color: $shade1;
}

#container1{
    background-color: $shade4;
    margin: 0;
    h1{
        font-family: 'Kanit', sans-serif;
        @include bold;
        padding: 16px;
        text-align: center;
        margin: 0;
    }
}

.btn-menu {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 8px;
    right: 24px;
    cursor: pointer;
}

.btn-left {
    @include btns;
    top: 25px;
    left: 0px;
    &:before{
        position: absolute;
        @include btns;
        content: "";
        top: -15px;
    }
    &:after{ 
    @include btns;
    content: "";
    top: 15px;
    }
}

.btn-right {
    @include btns;
    top: 25px;
    left: 25px;
    &:before {
        @include btns;
        content: "";
        top: -15px;
    }
    &:after {
        @include btns;
        content: "";
        top: 15px;
    }
}

.active{
    .btn-left {
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        background: transparent;
        &:before{
            -webkit-transform: rotateZ(45deg) scaleX(1.187) translate(4px, 4px);
            transform: rotateZ(45deg) scaleX(1.187) translate(4px, 4px);
        }
        &:after{
            -webkit-transform: rotateZ(-45deg) scaleX(1.187) translate(4px, -4px);
            transform: rotateZ(-45deg) scaleX(1.187) translate(4px, -4px);
        }
    }
    .btn-right {
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        background: transparent;
        &:before{
            -webkit-transform: rotateZ(-45deg) scaleX(1.187) translate(-4px, 4px);
            transform: rotateZ(-45deg) scaleX(1.187) translate(-4px, 4px);
        }
        &:after{
            -webkit-transform: rotateZ(45deg) scaleX(1.187) translate(-4px, -4px);
            transform: rotateZ(45deg) scaleX(1.187) translate(-4px, -4px);
        }
    }

}

#nav-container{
    background-color: $shade3;
    padding: 8px;
    text-align: center;
    display: none;
    .nav--list{
        list-style-type: none;
        margin: 0;
        li{
            display: inline;
            margin-right: 48px;
            a{
                @include bold;
                text-decoration: none;
                font-size: 18px;
            }
        }
    }
}

#container-main{
    // background-color: aqua;
    margin-top: 32px;
    font-family: 'Raleway', sans-serif;
}

hr{
    width:40%;
    border: 2px solid $shade2;
    border-radius: 2px;
}

.titulo{
    font-family: 'Raleway', sans-serif;
    font-weight: bold; 
}

.read-more{
    color: $shade2;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    &:hover{
        text-decoration: none;
        color: $shade2;
    }
}

.item{
    font-family: 'Raleway', sans-serif;
    padding-top: 40px;
}

.color{
    color: $shade3;
    font-weight: bold;
}

.images{
    width: 70px; 
    margin-right: 8px;
}

@media screen and (max-width: 767px) {
    #container-main{
        h2{
            font-size: 24px;
        } 
    }

    hr{
        width:80%;
    }

    #container1{
        h1{
            font-size: 24px;
            text-align: left;
        }
    }

    .btn-menu {
        top: 5px;
        right: 0px;
    }

    .btn-left {
        @include btns-small();
        top: 25px;
        left: 0px;
        &:before{
            position: absolute;
            @include btns-small();
            content: "";
            top: -15px;
        }
        &:after{ 
        @include btns-small();
        content: "";
        top: 15px;
        }
    }
    
    .btn-right {
        @include btns-small();
        top: 25px;
        left: 15.5px;
        &:before {
            @include btns-small();
            content: "";
            top: -15px;
        }
        &:after {
            @include btns-small();
            content: "";
            top: 15px;
        }
    }
}


